## <span style = 'color:green'>Assignment on python fundamentals</span>

1. **By using 'print' function print the provided string in specified format**
**your executiion should be this**: 

Hello World           
  Welcome to 'Python' Programming

In [2]:
#start your code here

2. **Check the python version which you are using**

In [3]:
#start your code here

3. **Design a Python program which can calculate the area by taking readius as input by user input method**
<table>
  <tr>
  <td><td>
   <br> instead of giving direct values try using "float(input())" </td>
  </tr>
</table>

In [4]:
#start your code here

4. **Write a python program which can take your first and last name seperately and execute as** 
<table>
  <tr>
  <td><td>
   <br>**Sample execution** : Hello 'first name' 'last name', hope you are doing good</td>
  </tr>
</table>

5. **Write a python program which can convert kilograms to grams**

In [5]:
#start your code here

6. **Create a list and store the given elements in the list**
  <table>
  <tr>
  <td><td>
   <br>Elements : 'Bengaluru','New York', 1971, '1682', (1,2,3,4,5,'Is this tuple?'),"'Hello,welcome to Python Programming'"</td>
  </tr>
</table>
- Try to extract entire tuple by using positive indexing
- Can we add elements into tuple after creating it?
- Remove '1682' and 'New York' from the list
- Discuss one practical application of tuple and lists
- Access 'Bengaluru' by Negitive indexing
- add 'Mumbai' into the list
- Try to perform one operation on each removal operation on lists 
1. del
2. remove
3. pop
- Try to perform one operation on each operational
1. append
2. entend
3. insert

In [6]:
#start your code here

7. **Write a python program which can calculate the electricity bill by considering the no of units consumed and other parameters are mentioned below**
- If units consumed is less than 50 then bill amount should be 100INR
- If units consumed between 50 - 300 then each unit will be charged at 4.5 INR
-  If units consumed more than 300 then that billed individual have to pay base pay as 1000INR and 300 units will be reduced from his total consumed units and for remaining units 7 INR will be charged for each unit.
- Execution should be

In [7]:
#start your code here

8. **Write a program to calculate the tax of the vehicle based on the price**
- below are the parameters to consider


    Cost price (in Rs)                                            Tax
        > 150000                                                  15 %
        > 50000 and <= 100000                                     10%

In [9]:
#start your code here

9. **Write a program to check if the input is positive or negitive**

In [10]:
#start your code here

10. **Define a function which can multiply the string with n number of times**
- string = "python programming"

In [11]:
#start your code here

11. **Define a function whicg can sum up two numbers**

In [12]:
#start your code here

12. **Define a function which can identify if a user has entered specifit string or not**
- specified string = "India"

In [13]:
#start your code here

13. **define a function which will greet by taking user name as input**
- input = name
- hello 'name', hope you are doing good

In [14]:
#start your code here

14. **Define a function which can give us the entire prime numbers till the input**

In [15]:
#start your code here

15. **Q.1 Check if a given string is palindrome.**
    <br> A string is palindrome if the reverse of the string is same as itself.
    <br> For eg. madam
    <br> Print "`<string>` is palindrome" if it is palindrome 
    <br> else "`<string>` is not a palindrome" if it is not a palindrome.
    <br> Hint : Use slicing to get reverse of the string.

In [16]:
#start your code here

16. **Write a python program to find n is a leap year** 
<br> Print "n is a leap year" if the given year is leap year.
<br> Print "n is not a leap year" if the given year is not leap year.
<br> Replace n with given year.
<br> Hint : Use nested if-else

In [17]:
#start your codes here

17. **Write a python program to check if n is leap year**

In [18]:
#start your codes here

18.  **Find the largest among three numbers**

eg. Consider a,b,c as the three numbers, find which is the  largest number among them

In [19]:
#start your code here

19. **write a python program to print even numbers from 1 to 15 by using range function**

In [20]:
#start your code here

20. **Write a program to guess the integer which is selected by computerby using  randint**
- use random and radint 
- range should be 1 to 10
- if user's number is greater than 10 then program should say your guess is too high
- if user input is matches with the computer choice then your program should say "yey! correct guess"
- otherwise your program should say too low

In [ ]:
#start your code here