# Practice Exercise

Question 1: Let us start by printing the word "Welcome to the practice exercise" in python.

In [25]:
print('Lets code in python')

Lets code in python

Question 2: The following pieces of code include variable names that cause an error. What's wrong and how would we fix it? Are there any other guidelines that aren't being met with the variable names?

In [30]:
1a = 'Washington'
b2 = 'Olympia'
print('The capital of', a1, 'is', b2)

SyntaxError: invalid syntax (<ipython-input-30-8871572dd4d9>, line 1)

In [32]:
# Solution
#First letter should never start with numeric values.
state = 'Washington'
city = 'Olympia'
print('The capital of', state, 'is', city)
#Lets try with numeric
a_variable = 22
another_variable = 42
print(a_variable * another_variable)

The capital of Washington is Olympia
924

Question 3: Divide 15 by the sum of a and three times b. Multiply the result by 2 and raise it to the 3rd power. What is the result?

In [33]:
a = 2
b = 3
((15 / (a + 3 * b)) * 2)**3

20.285499624342595

Question 4: Create a string variable and print the string.

In [35]:
# Create a string variable:
s = ' string'
# Print the string:
print(s)

 string

Question 5: converting pi to an int type

In [47]:
pi = '3.14'
print(pi)
print(type(pi))
#We float to convert string to int
a = int(float(pi))
print(a)
print(type(a))

3.14
<class 'str'>
3
<class 'int'>

Question 6: Use str.split? to read the documentation for str.split(). Use str.split() on the following sentences. What happens? What does sep= do? Try using sep='.'.

In [53]:
sentence1 = 'There is a giraffe. There is an elephant.'
sentence2 = 'They are playing chess.'
sentence3 = 'The elephant is winning. However, the giraffe can make a comeback.'
print("We are using str.split method here for the entire given string",str.split(sentence1))
print("We are using str.split method here for the entire given string",str.split(sentence2))
print("We are using str.split method here for the entire given string",str.split(sentence3))
print("We are using str.split method with delimeter after every sentance",str.split(sentence1, sep='.'))
print("We are using str.split method with delimeter after every sentance",str.split(sentence2, sep='.'))
print("We are using str.split method with delimeter after every sentance",str.split(sentence3, sep='.'))

We are using str.split method here for the entire given string ['There', 'is', 'a', 'giraffe.', 'There', 'is', 'an', 'elephant.']
We are using str.split method here for the entire given string ['They', 'are', 'playing', 'chess.']
We are using str.split method here for the entire given string ['The', 'elephant', 'is', 'winning.', 'However,', 'the', 'giraffe', 'can', 'make', 'a', 'comeback.']
We are using str.split method with delimeter after every sentance ['There is a giraffe', ' There is an elephant', '']
We are using str.split method with delimeter after every sentance ['They are playing chess', '']
We are using str.split method with delimeter after every sentance ['The elephant is winning', ' However, the giraffe can make a comeback', '']

Question 7: Find the total length of the strings in the given list. Store this quantity in a variable called total.

In [54]:
total = 0
words = ["red", "green", "blue"]

for word in words:
    total = total + len(word)

print(total)

12

Question 8: Find the length of each word in the list, and store these lengths in another list called lengths.

In [55]:
lengths = []
words = ["red", "green", "blue"]

for word in words:
    lengths.append(len(word))

print(lengths)

[3, 5, 4]

Question 9: Concatenate all words into a single string called one.

In [3]:
words = ["red", "green", "blue"]
one= ''
for word in words:
    one = one + word

print(one)

redgreenblue

Question 10: Consider the below given scores and segregate accordingly

Aggregates

**A**  is  greater than **90**

**B** is greater than **80**

**C** is greater than **70**

**D** is less than **70**
    
1. How many 'A' grades do you expect based on the input? How many are in the output?
2. Are there multiple outputs per score?
3. Are the scores assigned the correct letter grades?

In [ ]:
#Scores
scores = [80,89,91,65,78,64,98,78,39]

In [61]:
scores = [80,89,91,65,78,64,98,78,39]

for score in scores:
    if score >= 90:
        print(score, 'is an A.')
    elif score >= 80:
        print(score, 'is a B.')
    elif score >= 70: #change this to elif
        print(score, 'is a C.')
    else:
        print(score, 'is a D.')

80 is a B.
89 is a B.
91 is an A.
65 is a D.
78 is a C.
64 is a D.
98 is an A.
78 is a C.
39 is a D.

Question 11: How do you replace a charecter

In [63]:
# One solution
sentence4 = "hello there"
sentence4.replace(' ','_')

'hello_there'

Question 12: Create a string variable and print the string.

In [2]:
# Create a string variable:
var='Hello'

# Print the string:
print(var)

Hello

Question 13: Create a string by taking user input and print the string.

In [3]:
# Create a string variable taking user input:
var1=input('Enter string')

# Print the string:
print(var1)

Enter the string

Question 14: Print the pattern given below:



![image.png]()

In [4]:
# Print the pattern shown in the question above:
print('  1  ')
print(' 234 ')
print('56789')

  1
 234
56789

Question 15: Print the '#' symbol 15 times without having to type it for 10 times.

In [28]:
# Print the pattern shown in the question above:
print('#'*10)

##########

Question 16: Take the user input to print the current date

In [20]:
# Take the user input into a string:
var2=input('Enter the date')

# Print the date:
print(var2)

Enter the date"hello"
"hello"

Question 17: Type cast the interger 1.8 into a string and print the result.

In [7]:
# Store the interger as a varaible:
integer=1.8

# Typecast the integer:
string=str(integer)

# Print the result:
print(string)

1.8

Question 18: Find the product of two numbers input by the user.

In [27]:
# Take input of the first number and store it in a variable:
num1= input('Enter the first number') 

# Take input of the second number and store it in a variable:
num2= input('Enter the second number') 

# You will need to typecast the input strings into integers
# Calculate the product:
mul= int(num1) * int(num2)

# Print the result:
print(mul)

Enter the first number2
Enter the second number3
6

Question 19: Calculate the remainder of the number 6 when divided by the number 4.

In [10]:
# Find the modulus and print the result:
print('The remainder is',6%4)

The remainder is 2

Question 20: Solve the error in code below and print the correct result.

In [24]:
# Given:
# print('I can't study any longer')

# Corrected solution:
print('I can\'t study any longer')
print("I can't study any longer")

I can't study any longer
I can't study any longer

Question 21: Print the following statement using only 1 print statement:

Hello

Good Morning

In [12]:
# Print the required statement:
print('Hello\nGood Morning')

Hello
Good Morning

Question 22: Concatenate the given strings and print the result:

In [29]:
# Given below are the two strings:
string1= 'Welcome to SkilloVilla'
string2= ' coding practice session.'

# Concatenate and print the result:
print(string1+string2)

Welcome to SkilloVilla coding practice session.

Question 23: Find the length of string given below and print the result.

In [14]:
# Given below is the string:
string='Hi, I hope you are having a great learning experience.'

# Calculate and print the length:
print(len(string))

54

Question 24: Create a string of length=10. Obtain the fifth and seventh character of the string. Concatenate the characters and form a new string. Print the new string.

In [18]:
# Create a string of length 10:
str1='SkilloVilla'

# You can check the length:
len(str1)

# Obtain the fifth letter and store it into a new string:
str2=str1[4]

# Obtain the seventh letter and store it into a new string:
str3=str1[6]

# Concatenate the two strings:
str4=str2+str3

# Print the result:
print(str4)

lV

Question 25: Given below is a string. Perform the following operations and print the results:
1. Remove the extra spaces from the string and print the new string.
2. Find the length of new string
3. Remove the last 5 characters of the new string
4. Find the 15th character of the new string
5. Compute the result of concatenation of the first and last letter of the new string.

In [19]:
# Given below is the string:
line= '     I hope we all enjoyed the session'

# Removing extra spaces:
line1=line.strip()

# Print the result
print(line1)

# Calculate the length:
print(len(line1))

# Slice the string to remove the last 5 characters:
line2=line1[:36]

# Print the result
print(line2)

# Print the 15th character of the string:
print(line2[14])

# Print the concatenation of first and last character of resulting string:
print(line2[0]+line2[-1])

I hope we all enjoyed the session
33
I hope we all enjoyed the session
e
In

Question 26: What if you wanted to convert several values at once? What if you want to convert to several other units at once?

In [62]:
def convert_from_feet(x,unit='meters'):
    if unit=='meters':
        return(x*.308)
    elif unit == 'inches':
        return(x*12)
    elif unit == 'yards':
        return(x*3)
    else:
        return('unit not found')
convert_from_feet(6,unit='inches')

72

Question 27: Find the product of all numbers present in a list

In [64]:
lst = [10, 20, 30, 40, 50]
product = 1
index = 0
while index < len(lst):
    print("length of the index is:",len(lst), '\n')
    print("each indexing value are:",lst[index], '\n')
    product *= lst[index]
    print("product value",product, '\n')
    index += 1
    print("current indexing position is", index, '\n')
    print("-"*45)
print("product is: {}".format(product))

length of the index is: 5

each indexing value are: 10

product value 10

current indexing position is 1

---------------------------------------------
length of the index is: 5

each indexing value are: 20

product value 200

current indexing position is 2

---------------------------------------------
length of the index is: 5

each indexing value are: 30

product value 6000

current indexing position is 3

---------------------------------------------
length of the index is: 5

each indexing value are: 40

product value 240000

current indexing position is 4

---------------------------------------------
length of the index is: 5

each indexing value are: 50

product value 12000000

current indexing position is 5

---------------------------------------------
product is: 12000000

Question 28: Write program to find the sum of numbers starting from 1 to 25, 50 to 75 and 90 to 100 using three different for loops

In [65]:
sum = 0
for i in range(1,26):
    sum = sum + i
print("Sum of integers from 1 to 25 is = ", sum)

    
sum = 0    
for i in range(50,76):
    sum = sum + i
print("Sum of integers from 50 to 75 is = ", sum)

    
sum = 0
for i in range(9,101):
    sum = sum + i
print("Sum of integers from 90 to 100 is = ", sum)

Sum of integers from 1 to 25 is =  325
Sum of integers from 50 to 75 is =  1625
Sum of integers from 90 to 100 is =  5014

Question 29: Python Program to check given number is Prime number.

In [66]:
num = 39
# Convert string to int 
isDivisible = False;
i = 2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print("{} is divisible by {}".format(num,i))
    i += 1;
if isDivisible:
    print("{} is not a Prime Number".format(num))
else:
     print("{} is a Prime Number".format(num))

39 is divisible by 3
39 is divisible by 13
39 is not a Prime Number

Question 30: How do we take input from user

In [69]:
n = input('Enter anything here')
n

Enter anything herehey this is user input method

'hey this is user input method'

Question 31: How do we take integer input from the user?

In [71]:
n = int(input('Enter any integer'))
n

Enter any integer123

123

Question 31: How do we take float input from the user

In [73]:
n = float(input('Enter any float Value'))
n

Enter any float Value1.23

1.23

Question 32: Python Program to check given number is Prime number.

In [67]:
num = int(input("Enter a number: "))
# Convert string to int 
isDivisible = False;
i = 2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print("{} is divisible by {}".format(num,i))
    i += 1;
if isDivisible:
    print("{} is not a Prime Number".format(num))
else:
     print("{} is a Prime Number".format(num))

Enter a number: 123
123 is divisible by 3
123 is divisible by 41
123 is not a Prime Number

Question 33: Create a Variable called grade and set it to an integer. Make an if statement that checks if the grade is a passing grade. grade must be above 65 to pass. print out "student is passing"

In [77]:
grade = int(input('Enter marks '))
if grade > 65:
    print(" student is passing")

Enter marks 99
 student is passing

Question 34:  Now make an if, else statement that checks if the student is passing but also print "student is failing", if the grade is less than 65

In [78]:
grade = int(input('Enter marks '))
if grade > 65:
    print("student is passing")
else: 
    print("student is failing")

Enter marks 67
student is passing

Question 35: use for loop to copy the contents of one list to another

In [2]:
# wap to use for loop to copy the contents of one list to another
l1 = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
l2 = []
for i in l1:
    l2.append(i)
print(l2)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [ ]:
Question 36: # Create a function to find the sum of a and b

In [5]:
a = int(input('Enter first number: '))
b = int(input('Enter the second number: '))
def addition(a,b):
    return a + b
addition(a,b)

Enter first number: 1
Enter the second number: 2

3

Question 37:  Write a program to find the square of the function

In [11]:
def square(a):
    return a ** 2
square(int(input('Enter number to find square root: ')))

Enter number to find square root: 44

1936

Question 38: Define a function to sum up the integers for the given range

In [12]:
def sum(x,y):
    sum = 0
    for i in range(x,y + 1):
        sum = sum + i
    print('Sum of integers from {} to {} is {}'.format(x,y,sum))
sum(1,25)
sum(50,75)
sum(90,100)
sum(10,45)

Sum of integers from 1 to 25 is 325
Sum of integers from 50 to 75 is 1625
Sum of integers from 90 to 100 is 1045
Sum of integers from 10 to 45 is 990

Question 39: Write a program by using lambda function to print the square of the number

In [3]:
f = lambda x:x**2
f(10)

100

Question 40: Write a program by using lambda function to print the squares of each element in the list

In [1]:
a = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, a))
print(squares)

[1, 4, 9, 16, 25]

Question 41: Print only the even numbers for a list of elements using filter() method.

In [4]:
a = [1, 2, 3, 4, 5,6 , 7, 8, 199]
even = list(filter(lambda x: (x%2 == 0), a))
print(even)

[2, 4, 6, 8]

Question 42: Print the squares of each element in a list using .

In [12]:
a = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, a))
print(squares)

[1, 4, 9, 16, 25]

Question 43: Using map function to iterate the string

In [13]:
def myMapFunc(s):
    return s.upper()
my_str = "welcome to SkilloVilla!"
updated_list = map(myMapFunc, my_str)
print(updated_list)
for i in updated_list:
    print(i, end="")

<map object at 0x000002057CE10FA0>
WELCOME TO SKILLOVILLA!

Question 44: Use reduce function to Print the product of all the elements in the list.

In [14]:
#We have to import reduce function from functools
from functools import reduce

In [15]:
a = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x*y, a)
print(product)

120

Question 45: Python program to multiply by int for each number in list

In [18]:
def myMapFunc(n):
    return n*10

my_list = [2,3,4,5,6,7,8,9]

updated_list = map(myMapFunc, my_list)
print(updated_list)
print(list(updated_list))

<map object at 0x000002057CE103A0>
[20, 30, 40, 50, 60, 70, 80, 90]

Question 46: Is it possible to take input from user for above problem?

In [20]:
def myMapFunc(n):
    return n*int(input('Enter num to multiple with: '))

my_list = [2,3,4,5,6,7,8,9]

updated_list = map(myMapFunc, my_list)
print(updated_list)
print(list(updated_list))

<map object at 0x000002057CE1C8E0>
Enter num to multiple with: 1
Enter num to multiple with: 1
Enter num to multiple with: 1
Enter num to multiple with: 1
Enter num to multiple with: 1
Enter num to multiple with: 1
Enter num to multiple with: 1
Enter num to multiple with: 1
[2, 3, 4, 5, 6, 7, 8, 9]

Question 47: Python program for dictionary iterator inside map()

In [21]:
def myMapFunc(n):
    return n*10
my_dict = {2,3,4,5,6,7,8,9}
finalitems = map(myMapFunc, my_dict)
print(finalitems)
print(list(finalitems))

<map object at 0x000002057CE1C970>
[20, 30, 40, 50, 60, 70, 80, 90]

Question 48: Passing one Tuple and a list iterator to map()

In [22]:
def myMapFunc(list1, tuple1):
    return list1+"_"+tuple1

my_list = ['a','b', 'b', 'd', 'e']
my_tuple = ('PHP','Java','Python','C++','C')

updated_list = map(myMapFunc, my_list,my_tuple)
print(updated_list)
print(list(updated_list))

<map object at 0x000002057CE1C850>
['a_PHP', 'b_Java', 'b_Python', 'd_C++', 'e_C']

Question 49: not equal operator for different data type but same values

In [23]:
C = 12222
X = 12222.0
Y = "12222"
print(C!=X)
print(X!=Y)
print(C!=Y)

False
True
True

Question 50: Create a calculator using python

In [79]:

def get_value():
    x = int(input("Enter the first value : "))
    y = int(input("Enter the second value : "))
    return (x, y)

def add():
    x,y = get_value()
    print(x+y)

def subtract():
    x,y = get_value()
    print(x-y)

def multiply():
    x,y = get_value()
    print(x*y)

def divide():
    x,y = get_value()
    print(x/y)


def menu():
    op = int(input("Menu :  \n 1.Add \n 2.Subtract \n 3.Multiply \n 4.Divide \n 0.Exit \nEnter an option : "))

    if op == 1:
        add()
        menu()
    elif op == 2:
        subtract()
        menu()
    elif op == 3:
        multiply()
        menu()
    elif op == 4:
        divide()
        menu()
    elif op == 0:
        exit()
    else:
        print ("Invalid option")

menu()

Menu :
 1.Add
 2.Subtract
 3.Multiply
 4.Divide
 0.Exit
Enter an option : 1
Enter the first value : 23
Enter the second value : 45
68
Menu :
 1.Add
 2.Subtract
 3.Multiply
 4.Divide
 0.Exit
Enter an option : 0

Hope you enjoyed
===